<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <property name="LOG_PATH" value="${LOG_PATH:-logs}" />



  <!-- Console Appender -->
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
      <includeCallerData>false</includeCallerData>
      <includeMdc>true</includeMdc>
      <timeZone>UTC</timeZone>
      <timestampPattern>yyyy-MM-dd' 'HH:mm:ss.SSS Z</timestampPattern>
    </encoder>
  </appender>

  <root level="INFO">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>